.header {
    height: 64px;
    background: white;
    border-bottom: 1px solid #e5e7eb;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 0 24px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .right {
    display: flex;
    gap: 24px;
    color: #6b7280;
  }